* text eol=lf
*.ab3 text eol=lf
*.doc text eol=lf
*.dbg text eol=lf
*.lookup text eol=lf

*.info binary
*.winprefs binary
*.wizard binary
*.library binary
*.png binary
*.wav binary
*.iff binary
PED_Beta binary
SimpleHTML binary
