* text eol=lf
*.ab3 text eol=lf
*.doc text eol=lf
*.dbg text eol=lf
*.xml text eol=lf
*.guide text eol=lf
*.lookup text eol=lf
*.cd text eol=lf
*.history text eol=lf

*.info binary
*.hashmap binary
*.history binary
*.winprefs binary
*.wizard binary
*.library binary
*.png binary
*.jpg binary
*.wav binary
*.iff binary
*.obj binary
*.res binary
*.FNS binary
*.SFX binary
FNSEDIT binary
PED_Beta binary
SimpleHTML binary
Contributions/MorphOSIcons/System binary
Sourcecodes/Bin/opengl/opengl_test* binary
Sourcecodes/Data/**/* binary
