*.dbg
*.bak
*.history
*.log
*.raw
_UAEFSDB.___
Locale/PhraseBooks/*.bin
System/HelpIndexCache.bin
System/HelpIndex.txt
System/token_mapping_userlibs.txt
Amiblitz3_OLD
Amiblitz3_OLD.info
System/$Recycle.Bin
