H1=times/24
H2=times/18
H3=times/15
H4=times/13
H5=times/11
H6=times/11
NORMAL1=helvetica/9
NORMAL2=helvetica/11
NORMAL3=helvetica/13
NORMAL4=helvetica/15
NORMAL5=helvetica/18
NORMAL6=helvetica/24
NORMAL7=helvetica/24
FIXED1=courier/9
FIXED2=courier/11
FIXED3=courier/13
FIXED4=courier/15
FIXED5=courier/18
FIXED6=courier/24
FIXED7=courier/24

